@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #181818;
}

/* Add this to your main CSS file (e.g., index.css) */

.red-navigation .swiper-button-prev,
.red-navigation .swiper-button-next {
  color: red;
}